<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    <!-- navigation bar -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/harshit-3.jpg" alt="harshit" class="img-fluid" title="harshit garg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>ABOUT ME</h1>
                        <h2>I am a <span class="txt_clr">MERN STACK DEVELOPER</span> and a student of <span
                                class="txt_clr_2">M.I.E.T</span> College ,Meerut</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>

</html>